masc_500k_texts/
masc_500k_texts_word_by_word/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iws
*.ipr
*.iml
src/**/Version.java
VERSION
